.login {
    display: grid;
    place-items: center;
    height: 100vh;
}

.login > button {
    width: 300px;
    background-color: #209CEE;
    color: white;
    font-weight: 800;
}

.login > button:hover {
    background-color: white;
    color: #209CEE;
}

.login > div > img {
    object-fit: contain;
    height: 150px;
}

.login > div {
    display: flex;
    flex-direction: column;
}

.login > div > h2 {
    color: #209CEE;
    text-align: center;
    margin-top: 20px;
}
